@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --deepgreen: rgb(0, 131, 113);
  --green: #23bd5e;
  --lightgreen: #5adb7ad0;
  --lightdeepgreen: rgb(0, 196, 0);
  --span: rgb(5, 131, 93);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

/* navbar */
header {
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.c-name {
  font-family: "Caveat", cursive;
  color: #073a20;
}
.navbar-brand {
  padding: 0;
}
.form1 {
  margin-left: auto;
}
.form-control {
  width: 400px;
  font-size: 13px;
}
.form-control:focus {
  border-color: #0ecc80;
  box-shadow: 0 0 0 0.15rem rgba(16, 235, 191, 0.25);
}
.form-outline .btn {
  right: 41px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  border-width: 0;
}
.auth {
  right: -5px;
  display: flex;
  /* dynamic in Js */
  /* display: none;  */
}
/* dynamic in Js */
.account {
  display: none;
}
.register .btn {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
  padding: 5px 15px;
  transition: 800ms;
}
.register .btn:hover {
  background: white;
  color: #04b194;
  border: 1px solid #04b194;
}
.login .btn {
  color: #04b194;
  border: 1px solid #04b194;
  padding: 5px 15px;
  transition: 800ms;
}
.login .btn:hover {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
}
li {
  font-size: 15px;
}
.cart {
  right: -10px;
  display: flex;
  /* dynamic in Js */
  display: none;
  align-items: flex-end;
  cursor: pointer;
  padding: 5px;
}
.cart:hover {
  border: 1.5px solid #04b194;
  border-radius: 4px;
}
.cart img {
  width: 30px;
}

/* footer */
.footer {
  background-color: #121212;
  margin-top: auto;
}
.footer a {
  text-decoration: none;
}
.footer-links p a {
  margin: 0 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links h2 a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.footer-links ul {
  display: flex;
  justify-content: center;
}
.footer-links ul li {
  list-style-type: none;
}
.footer-links ul li a {
  color: var(--green);
  margin: 10px;
  font-size: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
}
.copyright a {
  color: var(--green);
}

/* prduct section */
.feature h1 {
  color: var(--green);
}
.feature span {
  color: var(--span);
}
.box {
  margin-top: 45px;
  margin-bottom: 45px;
}
.product .row .col-3 {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 6px;
  /* padding: 20px; */
  height: 375px;
  width: 270px;
  transition: 0.3s linear;
}
.product .row .col-3:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 12px;
}
.product .imgBox {
  padding-top: 15px;
  height: 50%;
  cursor: pointer;
}
.product .imgBox img {
  max-width: 200px;
  max-height: 200px;
  mix-blend-mode: darken;
}
.product .content {
  height: 50%;
}
.product .content .brand {
  color: rgb(158, 158, 158);
  font-size: 16px;
}
.product .content .star-rating .list-inline {
  margin-bottom: 0;
}
.product .content .star-rating i {
  font-size: 16px;
  color: #00d890;
}
