@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --deepgreen: rgb(0, 131, 113);
  --green: #23bd5e;
  --red: #ff9f1a;
  --vio: #305a4b;
  --darkblack: rgb(2, 0, 36);
  --lightgreen: #5adb7ad0;
  --lightdeepgreen: rgb(0, 196, 0);
  --litegray: #514869;
  --span: rgb(5, 131, 93);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

/* Navbar */
header {
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.c-name {
  font-family: "Caveat", cursive;
  color: #073a20;
}
.navbar-brand {
  padding: 0;
}
.form1 {
  margin-left: auto;
}
.form-control {
  width: 400px;
  font-size: 13px;
}
.form-control:focus {
  border-color: #0ecc80;
  box-shadow: 0 0 0 0.15rem rgba(16, 235, 191, 0.25);
}
.form-outline .btn {
  right: 41px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  border-width: 0;
}
.dropdown-item:active{
  background-color: #0ab97f;
}
.auth {
  right: -5px;
  display: flex;
}
.authenticate{
  display: none; 
}
#account {
  /* dynamic in Js */
  display: none;
}
#cartFeature {
  /* dynamic in Js */
  display: none;
}
#logout{
  cursor: pointer;
}
.register .btn {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
  padding: 5px 15px;
  transition: 800ms;
}
.register .btn:hover {
  background: white;
  color: #04b194;
  border: 1px solid #04b194;
}
.login .btn {
  color: #04b194;
  border: 1px solid #04b194;
  padding: 5px 15px;
  transition: 800ms;
}
.login .btn:hover {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
}
li {
  font-size: 15px;
}
.cart {
  right: -10px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  padding: 5px;
}
.cart:hover {
  /* border: 1px solid #04b194; */
  border-radius: 4px;
}
.cart img {
  width: 30px;
}

/* Slide container in hero section */
.home .slide-container .slide .content .btn {
  display: inline-block;
  margin-top: 0.5em;
  border-radius: 0.5em;
  font-weight: bolder;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  background: var(--green);
  padding: 0.3em 2em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home .slide-container .slide .content .btn:hover {
  background: #3ffd6fd0;
  color: var(--vio);
}
.home {
  position: relative;
  font-size: 62.5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.05) 0px 2px 3px -2px;
}
.home .slide-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10em;
  padding: 100px 150px;
}
.home .slide-container .slide .content {
  flex: 1 1 40em;
  animation: slideContent 0.5s linear 0.5s backwards;
  text-transform: capitalize;
}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10em);
  }
}
.home .slide-container .slide .image {
  flex: 1 1 30em;
  /* padding-bottom: 15em; */
  position: relative;
  z-index: 0;
}
.home .slide-container .slide .image .shoe {
  width: 80%;
  transform: rotate(-35deg);
  animation: shoe 0.3s linear;
}
@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}
.home .slide-container .slide .image .text {
  position: absolute;
  top: -15px;
  left: -32px;
  z-index: -1;
  animation: shoeText 0.5s linear 0.5s backwards;
  width: 30em;
}
@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10em;
  }
}
.home .slide-container .slide .content span {
  font-size: 1.7em;
  color: var(--green);
}
.home .slide-container .slide .content h3 {
  font-size: 3.5em;
  color: var(--deepgreen);
}
.home .slide-container .slide .content p {
  font-size: 1.2em;
  color: #666;
  padding: 0.5em 0;
  padding-right: 125px;
  text-align: justify;
}
.home .slide-container:nth-child(1) .slide {
  background: url(../images/home/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .slide-container:nth-child(2) .slide {
  background: url(../images/home/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .slide-container:nth-child(3) .slide {
  background: url(../images/home/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .slide-container {
  display: none;
}
.home .slide-container.active {
  display: block;
}
.home #prev,
.home #next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: var(--deepgreen);
  border: 0.15em solid var(--deepgreen);
  cursor: pointer;
  display: grid;
  place-items: center;
}
.home #prev:hover,
.home #next:hover {
  color: #fff;
  background: var(--green);
}
.home #prev {
  left: 3em;
}
.home #next {
  right: 3em;
}

/* Featured products 1*/
.feature h1,
.feature h2,
.feature h3 {
  color: var(--green);
}
.feature h1 {
  font-size: 45px;
}
.feature h2 {
  font-size: 40px;
}
.feature h3 {
  font-size: 35px;
}
.feature span {
  color: var(--span);
}
.splide_wrapper1 {
  padding: 20px 15px;
  max-width: 1300px;
  margin: 0 auto;
}
.splide_wrapper1 .splide__arrow {
  opacity: 1;
  width: 2rem;
  height: 2rem;
  background-color: var(--lightgreen);
}
.splide_wrapper1 .splide {
  padding: 0 4rem;
}
.splide_wrapper1 .wrapper {
  padding: 30px 15px;
  padding-top: 40px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  position: relative;
}
.splide_wrapper1 .wrapper .img-box {
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.splide_wrapper1 .wrapper .img-box img {
  max-width: 80%;
  max-height: 90%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5px;
  transition: all 0.2s linear;
}
.splide_wrapper1 .wrapper .img-box img:hover {
  transform: rotate(-35deg) scale(1.2);
}
.splide_wrapper1 .wrapper-content h4 {
  font-size: 18px;
  margin-top: 10px;
}
.splide_wrapper1 .wrapper-content h4,
.splide_wrapper1 .wrapper-content p,
.splide_wrapper1 .wrapper-content ul {
  margin-bottom: 8px;
}
.splide_wrapper1 .wrapper-content .btn {
  border-radius: 20px;
  border: 1px solid var(--green);
  color: var(--green);
  transition: all 0.2s ease-in-out;
}
.splide_wrapper1 .wrapper-content .btn:hover {
  background-color: var(--green);
  color: white;
}
.splide_wrapper1 .wrapper .item-price {
  font-size: 13px;
  padding: 2px 0;
}
.splide_wrapper1 .wrapper .item-price strike {
  opacity: 0.7;
  margin-right: 5px;
  color: red;
}
.splide_wrapper1 .star-rating li {
  padding: 0;
}
.splide_wrapper1 .star-rating i {
  font-size: 14px;
  color: #ffc000;
}

/* Best Products */
.bestProducts {
  padding: 20px 15px;
  max-width: 1300px;
  margin: 0 auto;
}
.bestProducts .splide {
  padding: 0 4rem;
}
.bestProducts .splide__track {
  overflow-y: visible;
}
/* .splide__track::-webkit-scrollbar {
  display: none;
} */
.bestProducts .best {
  background-color: white;
  height: 150px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 8px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 320px;
}
.bestProducts .best .image-container1 {
  height: 150px;
  border-radius: 18px;
}
.bestProducts .best p {
  color: rgb(128, 128, 128);
}
.img-bg1 {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.img-bg2 {
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.img-bg3 {
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}
.bestProducts .best .image-container1 img {
  max-width: 140%;
  max-height: 140%;
  transform: rotate(-45deg);
  position: relative;
  top: -26px;
  left: -30px;
}
.bestProducts .best .image-container1 .img2 {
  transform: rotate(-370deg);
  top: -30px;
  left: -35px;
}
.bestProducts .best .image-container1 .img3 {
  transform: rotate(5deg);
  top: -32px;
  left: -30px;
}
.bestProducts .best .view .btn {
  border: 1.5px solid var(--green);
  border-radius: 6px;
  background-color: var(--green);
  color: white;
  padding: 1px 20px;
  transition: all 0.2s ease-in-out;
}
.bestProducts .best .view .btn:hover {
  color: var(--green);
  background-color: white;
}

/* New Arrivals */
.new-arrival .arrive {
  background-color: white;
  height: 290px;
  border-radius: 18px;
}
.new-arrival h2 {
  color: var(--green);
  font-size: 40px;
}
.new-arrival span {
  color: rgb(5, 131, 93);
}
.new-arrival .row > * {
  padding-right: 0;
  padding-left: 0;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 290px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  object-fit: cover;
}
.new-arrival .arrive .content h4 {
  color: var(--green);
}
.new-arrival .arrive .content strike {
  color: red;
}
.new-arrival .arrive .content span {
  color: var(--lightdeepgreen);
}
.new-arrival .arrive .content .buyNow .btn {
  border: 1px solid var(--green);
  border-radius: 6px;
  background-color: var(--green);
  color: white;
  font-weight: bold;
}
.new-arrival .arrive .content .buyNow .btn:hover {
  background-color: white;
  color: var(--green);
}
.new-arrival .arrive .content .addtocart .btn {
  border: 1px solid var(--green);
  border-radius: 6px;
  font-weight: bold;
  color: var(--green);
}
.new-arrival .arrive .content .addtocart .btn:hover {
  background-color: var(--green);
  color: white;
}

/* Customer reviews */
.splide_wrapper2 img {
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  margin-right: 50px;
}

.splide_wrapper2 .star-rating {
  color: #ff9900;
}

/* Services */
.service {
  background-color: #dfdfdf;
  padding: 15px;
  margin-bottom: 0;
}
.service .box-container .box i {
  font-size: 45px;
  margin-bottom: 10px;
  color: var(--deepgreen);
}
.service .box-container .box h3 {
  text-transform: capitalize;
}

/* footer */
.up-footer {
  background-color: #333333d8;
  margin-top: auto;
}
.footer {
  background-color: #121212;
  margin-top: auto;
}
.footer a {
  text-decoration: none;
}
.footer-links p a {
  margin: 0 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links h2 a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.footer-links ul {
  display: flex;
  justify-content: center;
}
.footer-links ul li {
  list-style-type: none;
}
.footer-links ul li a {
  color: var(--green);
  margin: 10px;
  font-size: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
}
.copyright a {
  color: var(--green);
}
