<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not allowed</title>
    <link rel="stylesheet" href="../../css/noAccess.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="details">
        <h2>Not Allowed!!</h2>
        <p>Sorry you can't access this Admin page😅.</p>
        <a href="/">
          <button class="btn">Back to home page</button>
        </a>
      </div>
      <div class="photo">
        <img
          src="../../images/noAccess/admin.svg"
          alt="404 error"
          width="500px"
        />
      </div>
    </div>
  </body>

</html>