<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="icon" href="https://i.ibb.co/sg7KRwY/314434.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link rel="stylesheet" href="../../css/register.css" />
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center align-items-center"
            id="first-div"
          >
            <div>
              <div class="rounded-circle circle circle1"></div>
              <div class="rounded-circle circle circle2"></div>
            </div>

            <div class="common-width">
              <h2 class="fw-bolder">Hey, Whatsup! &#129309;</h2>
              <p class="text-body-secondary mb-4" id="head-p">
                Register now and unlock exclusive shopping experience.
              </p>
            </div>
            <form class="common-width" id="registrationForm">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold"
                  >Full Name<span>*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="John Doe"
                  name="name"
                  required
                  autofocus
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label fw-bold"
                  >Email<span>*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="example123@email.com"
                  name="email"
                  required
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label fw-bold"
                  >Password<span>*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="********"
                  name="password"
                  required
                  minlength="6"
                  maxlength="12"
                />
                <div id="passwordHelp" class="form-text">
                  Password must contain one character and one number.
                </div>
              </div>
              <div class="mb-3">
                <label for="cpassword" class="form-label fw-bold"
                  >Confirm Password<span>*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  id="cpassword"
                  placeholder="********"
                  name="cpassword"
                  required
                  minlength="6"
                  maxlength="12"
                />
                <div id="passwordHelp" class="form-text">
                  Password must be the same.
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-grad fw-bold text-white w-100"
              >
                Register
                <div id="loader">
                  <div class="loadingio-spinner-rolling-0c1zcfx6p7jn">
                    <div class="ldio-am89n11ugq">
                      <div></div>
                    </div>
                  </div>
                </div>
              </button>
            </form>
            <div class="common-width mt-4">
              <p>
                Already have an account?
                <a
                  href="/login"
                  class="text-decoration-none text-success"
                  >Login now</a
                >
              </p>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-6 text-white bg-right d-md-flex d-lg-flex flex-column justify-content-center p-lg-5"
            id="second-div"
          >
            <div class="glass m-4 p-lg-5 p-md-5">
              <h1 class="fw-bolder mt-md-3 mt-lg-3 mb-md-5 mb-lg-5">
                Namaste <span>India!</span>
              </h1>
              <p>Enter your details to start the exciting journey with us.</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="../../modules/registration.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
