@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --deepgreen: rgb(0, 131, 113);
  --green: #23bd5e;
  --lightgreen: #5adb7ad0;
  --lightdeepgreen: rgb(0, 196, 0);
  --span: rgb(5, 131, 93);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

/* navbar */
header {
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.c-name {
  font-family: "Caveat", cursive;
  color: #073a20;
}
.navbar-brand {
  padding: 0;
}
.form1 {
  margin-left: auto;
}
.form-control {
  width: 400px;
  font-size: 13px;
}
.form-control:focus {
  border-color: #0ecc80;
  box-shadow: 0 0 0 0.15rem rgba(16, 235, 191, 0.25);
}
.form-outline .btn {
  right: 41px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  border-width: 0;
}
.dropdown-item:active{
  background-color: #0ab97f;
}
.auth {
  right: -5px;
  display: flex;
}
.authenticate{
  display: none; 
}
#account {
  /* dynamic in Js */
  display: none;
}
#cartFeature {
  /* dynamic in Js */
  display: none;
}
#logout{
  cursor: pointer;
}
.register .btn {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
  padding: 5px 15px;
  transition: 800ms;
}
.register .btn:hover {
  background: white;
  color: #04b194;
  border: 1px solid #04b194;
}
.login .btn {
  color: #04b194;
  border: 1px solid #04b194;
  padding: 5px 15px;
  transition: 800ms;
}
.login .btn:hover {
  background: linear-gradient(to right, #0a9e79 0%, #04b13e 51%, #02b076 100%);
  color: white;
}
li {
  font-size: 15px;
}
.cart {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  padding: 5px;
  margin-left: 6px;
}
.cart:hover {
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cart img {
  width: 38px;
}
.cart-value{
  position: absolute;
  top: 8px;
  left: 20px;
  background-color: #00a54a;
  color: white;
  width: 26px;
  font-size: 10px;
}


/* footer */
.footer {
  background-color: #121212;
  margin-top: auto;
}
.footer a {
  text-decoration: none;
}
.footer-links p a {
  margin: 0 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links h2 a {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.footer-links ul {
  display: flex;
  justify-content: center;
}
.footer-links ul li {
  list-style-type: none;
}
.footer-links ul li a {
  color: var(--green);
  margin: 10px;
  font-size: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.6);
}
.copyright a {
  color: var(--green);
}

/* Cart input section */
input[type="number"] {
  background-color: rgb(238, 238, 238);
  font-size: 16px;
}
input[type="number"]:focus {
  background-color: white;
  outline: 0;
}
tr td input {
  max-width: 75px;
  text-align: center;
  padding: 6px 0px 6px 6px;
}

/* cart items */
.box {
  margin-top: 75px;
  margin-bottom: 75px;
}
.cart-page {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  width: 80vw;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info .pname {
  font-weight: bold;
  margin-bottom: 0;
}
.cart-info .price {
  font-size: 14px;
  margin-bottom: 0;
}
.cart-info .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
th {
  text-align: left;
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: 2px solid rgb(184, 184, 184);
  color: #009e7c;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
  text-decoration: none;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
td:last-child {
  text-align: right;
  font-size: 18px;
}
th:last-child {
  text-align: right;
}
tbody td:nth-last-child(2) {
  display: grid;
  place-items: center;
  margin: 25px;
}
th:nth-last-child(2) {
  text-align: center;
}

/* total section */
.box2{
    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid rgb(184, 184, 184);
    border-bottom: 2px solid rgb(184, 184, 184);
    width: 18%;
}
.box2 .total{
    color: var(--green);
    font-size: 18px;
}
