* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  html {
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background-color: #f3f3f3;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    border-radius: 18px;
    height: 90vh;
  }
  .details h1{
    font-size: 15rem;
    color: #23bd5e;
    padding: 0px 14px;
  }
  .details p{
    font-size: 4rem;
    text-transform: capitalize;
    color: #05835d;
    font-weight: 600;
    padding: 0px 14px;
  }
   .btn{
    font-size: 1.3rem;
    padding: 14px 30px;
    margin: 20px;
    background-color:#23bd5e;
    color: white;
    border: none;
    border-radius: 28px;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
  .btn:hover{
    background-color: #05835d;
    color: rgb(235, 235, 235);
  }