* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bg-left {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  height: 100vh;
}

h1 {
  font-size: 5rem;
}

.bg-left span {
  color: rgb(6, 117, 84);
}

.glass p {
  font-size: 1.5rem;
}

.glass {
  height: auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.common-width {
  width: 70%;
}

#head-p {
  font-size: 20px;
}

.btn-grad {
  background: linear-gradient(to right, #0a999e 0%, #04b194 51%, #02aab0 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

span {
  color: red;
}

input[type="email"],
input[type="password"] {
  background-color: rgb(236, 236, 236);
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: white;
  outline: 0;
}

.form-control:focus {
  border-color: #0ecc80;
  box-shadow: 0 0 0 0.25rem rgba(16, 235, 191, 0.25);
}

.form-check-input:checked {
  background-color: #04e5c3;
  border-color: #0dfdd5;
}

.circle {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  position: fixed;
  z-index: -1;
}

.circle1 {
  width: 300px;
  height: 300px;
  top: -140px;
  right: -140px;
  opacity: 0.5;
}
.circle2 {
  width: 100px;
  height: 100px;
  top: 32px;
  right: 75px;
  opacity: 0.7;
}

.circle3 {
  width: 500px;
  height: 500px;
  top: 470px;
  right: -178px;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .bg-left {
    height: 60%;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .glass p {
    font-size: 1rem;
    text-align: center;
  }
  .glass {
    padding: 20px;
  }
  .common-width {
    width: 80%;
  }
  #head-p {
    font-size: 15px;
  }
  .form-text {
    font-size: 12px;
  }
  .circle1 {
    top: 2px;
    right: -190px;
  }
  .circle2 {
    display: none;
  }
}

/* loader */
#loader {
  position: absolute;
  left: 280px;
  top: 1px;
  display: none;
}
@keyframes ldio-am89n11ugq {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-am89n11ugq div {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 10px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-am89n11ugq div {
  animation: ldio-am89n11ugq 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-0c1zcfx6p7jn {
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-am89n11ugq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.35);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-am89n11ugq div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
