* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  background-color: #f3f3f3;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 18px;
  height: 90vh;
}
.details h2 {
  font-size: 4rem;
  color: #23bd5e;
  padding: 0px 14px;
}
.details p {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #05835d;
  font-weight: 600;
  padding: 0px 14px;
}

.btn {
  font-size: 1rem;
  padding: 12px 16px;
  margin: 20px;
  color: #fff;
  background-color: #23bd5e;
  border: none;
  border-radius: 28px;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #05835d;
  color: #ffffff;
}
