.gradient-custom-2 {
    /* fallback for old browsers */
    background: #eeeeee;
    }
    
    #progressbar-1 {
    color: #455A64;
    }
    
    #progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    }
    
    #progressbar-1 #step1:before {
    content: "1";
    color: #ffffff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
    }
    
    #progressbar-1 #step2:before {
    content: "2";
    color: #ffffff;
    width: 29px;
    }
    
    #progressbar-1 #step3:before {
    content: "3";
    color: #ffffff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
    }
    
    #progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
    }
    
    #progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
    }
    
    #progressbar-1 li:nth-child(2):after {
    left: 50%
    }
    
    #progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
    }
    
    #progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
    }
    
    #progressbar-1 li.active:before,
    #progressbar-1 li.active:after {
    /* background: #04b194; */
    background: rgb(52, 224, 201);
    }
    
    .card-stepper {
    z-index: 0
    }

    .viewclass a{
        text-decoration: none;
        font-size: 1rem;
        background: linear-gradient(to right, #0a999e 0%, #04b194 51%, #02aab0 100%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        font-weight: 500;
        color:#ffffff;
        border: none;
        padding: 8px 14px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    .viewclass a:hover{
        background:#ffffff; 
        color: #05835d;
        border: 0.5px solid #0a999e;
    }
    #Switch a{
        text-decoration: none;
        font-size: 1rem;
        background: linear-gradient(to right, #0a999e 0%, #04b194 51%, #02aab0 100%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        font-weight: 500;
        color:#ffffff;
        border: 0.5px solid #0a999e;
        padding: 8px 14px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    #Switch a:hover{
        background:#ffffff; 
        color: #05835d;
        border: 0.5px solid #0a999e;
    }