* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --black: rgb(55, 164, 207);
  --orange: #ff9f1a;
  --red: #ff9f1a;
  --vio: #2c2c54;
  --darkblack: rgb(2, 0, 36);
  --litegreen: #00ff88;
  --litegray: #514869;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  background-color: var(--vio);
}
header {
  z-index: 1000;
  background: #fff;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .navbar a {
  font-size: 1rem;
  color: var(--black);
  margin: 0 1rem;
  text-transform: none;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons a {
  font-size: 1.2rem;
  color: var(--black);
  margin-left: 1.5rem;
}
header .icons a:hover {
  color: var(--orange);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: #2c2c54;
}

.container form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}
/* .container form .row .col .inputBox input:focus {
  border: 1px solid #000;
} */
input:focus{
  outline-color:#37a4cf;
}
.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.amt{
  display: flex;
  align-items: center;
}
.amt p{
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2px 8px;
}
.amt a{
  color:white;
  /* background-color: #ff9f1a; */
  background-color: #f4663e;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}
.amt a:hover{
  background: transparent;
  color: black;
  border: 1px solid lightgrey;
}
.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 0px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  /* background: #ff9f1a; */
  background-color: #f4663e;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  text-transform: none;
  font-weight: 600;
}

.container form .submit-btn:hover {
  background: #37a4cf;
}


/* another
 */
 .prod{
    padding: 6px;
 }
 .prod p{
  font-weight: 600;
 }
.pdc {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.pdc h3{
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  color: #333;
}
.product-image {
  margin-top: 20px;
}

.cancel-bton{
  background-color: #f4663e;
  color: #ffffff;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}
.cancel-bton:hover{
  background: transparent;
  color: black;
  border: 1px solid lightgrey;
}